$border: lightgray;
$green: #4CAF50;
$grey: lightgrey;
$white: #fff;

.products-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-flow: column wrap;
  min-width: 230px;
  max-width: 25%;
  flex: 1 25%;
  padding: 5px;
  text-align: center;
  margin: 10px 5px;
  box-sizing: border-box;
  border: 1px solid $border;
  border-radius: 4px;
  background-color: $white;

  & .product-img {
    margin: auto;
  }

  & .add-to-cart {
    border-top: 1px solid $border;
    padding: 10px;

    button {
      background-color: $green;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
    }
  }
}
